@import "tailwindcss";

@font-face {
  font-family: 'alilato';
  src: url('/fonts/alilato.ttf') format('truetype'); /* Path to the font file */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'alilato';
}